body {
    background-image: url(thumb-1920-183974.jpg);
    padding: 0;
    margin: 0;
}

#CenterBox {
    font-family: Georgia, Times, "Times New Roman", serif;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    width: 50%;
    height: 55%;
    color: white;
}

#CenterBox h1#Wie {
    margin-left: 45%;
}

#CenterBox h1#Wat {
    margin-left: 45%;
}

#CenterBox h1#Waar {
    margin-left: 44%;
}

#CenterBox h1#Wanneer {
    margin-left: 42%;
}

#CenterBox p#antwoordWie {
    margin-left: 45%;
}

#CenterBox p#antwoordWat {
    margin-left: 43%;
}

#CenterBox p#antwoordWaar {
    margin-left: 44%;
}

#CenterBox p#antwoordWanneer {
    margin-left: 30%;
}
